.ant-table-cell {
    text-align: center;
    font-size: 20px;
}

.ant-table-small .ant-table-cell,
.ant-table-small .ant-table-thead > tr > th {
    padding: 4px 8px;
    font-size: 16px;
}

.ant-table-thead > tr > th.starkNet {
    background-color: #4e9ed4;
    color: white;
}

.ant-table-small .ant-table-row {
    line-height: 1.2;
}

.ant-card .ant-card-body {
    padding: 8px;
    border-radius: 0 0 8px 8px;
}

.ant-table {
    font-weight: 600;
}

.ant-table-thead > tr > th.stark_cross_tx {
    background-color: #5bc0de;
    color: white;
}

.ant-table-thead > tr > th.stark_cross_amount {
    background-color: #64bcef;
    color: white;
}

.highlight-text {
    color: #FFD700;
    font-size: 18px;
    background-color: #000;
    padding: 5px 0;
    text-align: center;
    width: 100%;
    display: block;
  }